& {
    max-width: var(--width);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

h2, p, span, button {
    grid-column: 2;
    margin: 0;
}

.imageWrapper {
    grid-column: 1;
    grid-row:1/10;
    display: flex;
    flex-direction: column;
    gap: 16px;
    img{
        width: 100%;
        max-height: 400px;
        object-fit: contain;
    }
}

button {
    display: block;
    padding: 1em;
    background: transparent;
    border-radius: 1em;
    overflow: hidden;
    transition: all 300ms ease-out;
    box-shadow: 0 0 1em -1em rgba(0, 0, 0, .4);
    color: inherit;
    border: none;
    text-align: left;

    &:hover, &:focus {
        background: rgba(255, 255, 255, .1);
        box-shadow: 0 0 1em rgba(0, 0, 0, .4);
        outline: none;
    }
}
