& {
    max-width: var(--width);
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr max-content;
    gap: 8px;
}

h2, p, span, button {
    grid-column: 2/4;
    margin: 0;
}

.price {

    grid-row: 2;
    grid-column: 3;
    text-align: center;
}

h2 {
    grid-row: 1/3;
    grid-column: 2;
}

.imageWrapper {
    grid-column: 1;
    grid-row: 1/10;
    display: flex;
    flex-direction: column;
    gap: 16px;

    img {
        width: 100%;
        max-height: 400px;
        object-fit: contain;

        border-radius: 4em;
        corner-shape: squircle;
    }
}

button {
    display: block;
    padding: 1em;
    background: transparent;
    border-radius: 2em;
    corner-shape: squircle;
    overflow: hidden;
    transition: all 300ms ease-out;
    box-shadow: 0 0 1em -1em rgba(0, 0, 0, .4);
    color: inherit;
    border: none;
    text-align: left;
    background: rgba(255, 255, 255, .8);
    color: var(--background);
    grid-row: 1;
    grid-column: 3;

    &:hover, &:focus {
        background: rgba(255, 255, 255, .9);
        box-shadow: 0 0 1em rgba(0, 0, 0, .4);
        outline: none;
    }
}

@media(max-width: 1000px) {
    & {

        grid-template-columns: 1fr max-content;
    }
    .price {

        grid-row: 2;
        grid-column: 2;
        text-align: center;
    }
    h2 {

        grid-row: 1/3;
        grid-column: 1;
    }
    button {
        grid-column: 2;
    }
    p {
        grid-column: 1/3;
    }
    .imageWrapper {
        grid-column: 1/3;
        grid-row: 4;
    }
}

@media(max-width: 400px) {
    & {

        grid-template-columns: 1fr;
    }
    .price {

        grid-row: 2;
        grid-column: 1;
        text-align: center;
    }
    h2 {

        grid-row: 1;
        grid-column: 1;
    }
    button {
        grid-row: 3;
        grid-column: 1;
        text-align: center;
        justify-self: center;

    }
    p {
        grid-column: 1;
        grid-row: 4;
    }
    .imageWrapper {
        grid-column: 1;
        grid-row: 5;
    }
}
