&{
    max-width: var(--width);
    margin: auto;
}
button {
    display: block;
    padding: 1em;
    background: transparent;
    border-radius: 1em;
    overflow: hidden;
    transition: all 300ms ease-out;
    box-shadow: 0 0 1em -1em rgba(0, 0, 0, .4);
    color: inherit;
    border: none;

    &:hover, &:focus {
        background: rgba(255, 255, 255, .1);
        box-shadow: 0 0 1em rgba(0, 0, 0, .4);
        outline: none;
    }
}
